<div>Title: {{film.title}}</div>
<div>Episode Id: {{film.episode_id}}</div>
<div class="length">Opening crawl: {{film.opening_crawl}}</div>
<div>Director: {{film.director}}</div>
<div>Producer: {{film.producer}}</div>

<button [routerLink]="['/films']"><i class="fa fa-search"></i>Back</button>