<div class="topnav">
  <a>Search 1</a>
  <a>Search 2</a>
  <a>Search 3</a>
  <div class="search-container">
    <form [formGroup]="searchForm">
      <input type="text" placeholder="Search.." name="search" formControlName="value"/>
      <button (click)="search()"><i class="fa fa-search"></i>Search</button>
    </form>
  </div>
</div>


<p-tabView [scrollable]="true">
    <p-tabPanel header="Films">
       <films [searchedFilms]="result"></films>
    </p-tabPanel>
    <p-tabPanel header="People">
        <people></people>
    </p-tabPanel>
    <p-tabPanel header="Planets">
        <planets></planets>
    </p-tabPanel>
</p-tabView>

<button [routerLink]="['/films']"><i class="fa fa-search"></i>Back</button>
