@import "https://cdnjs.cloudflare.com/ajax/libs/font- awesome/4.7.0/css/font-awesome.min.css";
@import "https://www.w3schools.com/w3css/4/w3.css";

*{
    box-sizing:border-box
}

body{
    margin:0;
    font-family:Arial,Helvetica,sans- serif
}
.topnav{
    overflow:hidden; 
    background-color:#e9e9e9
}
.topnav a{
    float:left;
    display:block;
    color:#000;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    font-size:17px
}
.topnav a:hover{
    background-color:#ddd;
    color:#000
}
.topnav a.active{
    background-color:#2196f3;
    color:#fff
}
.topnav .search-container{
    float:right
}
.topnav input[type=text]{
    padding:6px;
    margin-top:8px;
    font-size:17px;
    border:none
}
.topnav .search- container button{
    float:right;
    padding:6px 10px;
    margin-top:8px;
    margin-right:16px;
    background:#ddd;
    font-size:17px;
    border:none;
    cursor:pointer
}
.topnav .search- container button:hover{
    background:#ccc
}
@media screen and (max-width:600px){
    .topnav .search-container{
        float:none
    }
    .topnav .search-container button,.topnav a,.topnav input[type=text]{
        float:none;
        display:block;
        text-align:left;
        width:100%;
        margin:0;
        padding:14px
    }
    .topnav input[type=text]{
        border:1px solid #ccc
    }
}

a:link, a:visited {
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border:1px solid #ccc
  }
  